@import url(./normalize.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);

/* 공통 header */
.header{
  width:100%;
  position:relative;
}

/* 공통 logo + icon */
.logo, .icon{
  position:absolute;
}

.logo{
  font-weight:700;
  color:#fff;
}

/* 공통 메인 */
.main{
  position:absolute;
}

/* common create section */
/* create input checkbox */
  .create input[type="checkbox"]{
    border-radius:50%;
    border:1px solid #E3E4F1;
    appearance: none;
    cursor:pointer;
    transition: background 0.2s;
    position:relative;
  }

  .create input[type="checkbox"]:checked{
    background:url("../images/icon-check.svg") no-repeat 50% 50% / 50%, linear-gradient(-60deg, #FFF, #55DDFF, #C058F3);
    border:none;
  }

    /* create input text */
  .create input[type="text"]{
    border:0;
    border-radius:5px;
    background:#fff;
    color:#9495A5;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  }

  .create input[type="text"]::placeholder{
    letter-spacing: -0.166667px;
  }

/* Mobile Device */
@media (max-width: 375px) {
  /* header 영역 */
  .header{
    height:12.5rem;
    background:url('../images/bg-mobile-light.jpg') no-repeat 0 0 / 100% 100%
  }

  /* logo 영역 */
  .logo{
    top:3rem;
    left:1.625rem;
    font-size:1.75rem;
  }

  /* icon 영역 */
  .icon-moon{
    width:1.2075rem;
    height:1.25rem;
    top:3rem;
    right:1.5425rem;
  }
  
  /* 메인 영역 */
  .main{
    top:6.75rem;
  }

  /* create input checkbox */
  .create input[type="checkbox"]{
    width:1.25rem;
    height:1.25rem;
    top:2.5rem;
    left:1.25rem;
  }
  
  /* create input text */
  .create input[type="text"]{
    width:20.437rem;
    height:3rem;
    margin-bottom:1rem;
    text-indent:3.25rem;
  }
}

/* Desktop Device */
/* and (max-width: 1440px) */
@media (min-width: 376px) {
  /* header 영역 */
  .header{
    height:18.75rem;
    background:url('../images/bg-desktop-light.jpg') no-repeat 0 0 / 100% 100%;
  }

  .logo{
    top:4.375rem;
    left:31.25%;
    font-size:1.75rem;
  }

  /* icon 영역 */
  .icon-moon{
    width:1.569375rem;
    height:1.625rem;
    top:4.375rem;
    right:31.180555555%;
  }

  /* 메인 영역 */
  .main{
    top:9.875rem;
  }

  /* create input checkbox */
  .create input[type="checkbox"]{
    width:1.5rem;
    height:1.5rem;
    top:0.625rem;
    left:3rem;
  }
  
  /* create input text */
  .create input[type="text"]{
    width:33.125rem;
    height:4rem;
    margin-bottom:1.5rem;
    text-indent:4.5rem;
  }
}